@tailwind base;
@tailwind components;
@tailwind utilities;

.style_scroll {
    scrollbar-width: thin;
    scrollbar-color: #cad4db transparent;
}
.button-primary {
    @apply bg-principal p-3 pr-6 pl-6 font-poppins text-white rounded-[3px];
}
.button-primary:hover {
    @apply bg-pHover;
}

.input-primary{
    @apply hover:border-blue-300 border border-gray-300 text-gray-900 text-sm rounded-[3px] focus:ring-blue-500 focus:border-blue-500 block focus:text-blue-900  w-full p-2.5
}

.inactive-input{
    opacity: 0.6;
    @apply hover:border-blue-600 border border-gray-300 text-black text-sm rounded-[3px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
}

.swal2-styled:focus {
    outline: none !important;
    box-shadow: none !important;
}